.slider-controls {
  display: grid;
  gap: 15px;

  &__arrows {
    display: flex;
    column-gap: 5px;
  }

  &__count {
    display: flex;
    column-gap: 6px;
    justify-content: center;
    align-items: flex-end;

    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    text-align: right;

    &-current,
    .swiper-pagination-current {
      font-size: 32px;
      line-height: 0.75;
      color: #fff;
    }
  }
  .swiper-pagination-fraction {
    color: rgba(255, 255, 255, 0.3);
  }
}
